<section>   
	  <ul>    
	    <hr>
		<li><%=link_to '产品经理',pm_path%></li>
		<li><%=link_to '知识管理',km_path%></li>

		<li><%=link_to '互联网产品',product_path%></li>
	
		<li><%=link_to '阅读空间',read_path%></li>

		<li><%=link_to 'web开发',web_path%></li>









	  </ul>
</section>